<section class="testimonials">
  <h2 class="testimonials__title">お客様の声</h2>
  <ul class="testimonials__list">
    <li class="testimonial">
      <p class="testimonial__quate">とても満足しています！（嘘）</p>
      <p class="testimonial__author">安部　靖様</p>
    </li>
    <li class="testimonial">
        <p class="testimonial__quate">事故を起こしたときも安心でした！（嘘）</p>
        <p class="testimonial__author">川越　賽様</p>
    </li>
    <li class="testimonial">
        <p class="testimonial__quate">難しいと思ってたけど、わかりやすい！（嘘）</p>
        <p class="testimonial__author">大貫　大様</p>
    </li>
  </ul>
</section>
