<section>
  <div class="container">
    <h2 class="products__title">商品</h2>
    <ul class="products__list">
      <li class="product">
        <a href="#" class="product__link">
          <h3 class="product__title">商品１</h3>
          <p class="product__description">ああああああああああああああああああ</p>
        </a>
      </li>
      <li class="product">
        <a href="#" class="product__link">
          <h3 class="product__title">商品２</h3>
          <p class="product__description">いいいいいいいいいいい</p>
        </a>
      </li>
      <li class="product">
        <a href="#" class="product__link">
          <h3 class="product__title">商品３</h3>
          <p class="product__description">うううううううううう</p>
        </a>
      </li>
    </ul>
  </div>
</section>
