<!-- <section>
  <div class="container">
    <h2 class="products__title">商品</h2>
    <ul class="products__list">
      <li class="product">
        <a href="#" class="product__link">
          <h3 class="product__title">商品１</h3>
          <p class="product__description">ああああああああああああああああああ</p>
        </a>
      </li>
      <li class="product">
        <a href="#" class="product__link">
          <h3 class="product__title">商品２</h3>
          <p class="product__description">いいいいいいいいいいい</p>
        </a>
      </li>
      <li class="product">
        <a href="#" class="product__link">
          <h3 class="product__title">商品３</h3>
          <p class="product__description">うううううううううう</p>
        </a>
      </li>
    </ul>
  </div>
</section> -->

<ngx-slick-carousel class="carousel" 
  #slickModel="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.image }}" alt="Slide Image" width="100%" />
</div>
</ngx-slick-carousel>

<!-- <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->